- var styles = require('./features.sss.json')

div(class=styles.features)
	.container
		h1(class=styles.heading) Что включено?
		div(class=styles.container)
			div(class=styles.column)
				p(class=styles.item) Катамаран длиной&nbsp;12.5м и&nbsp;шириной&nbsp;6.5м
				p(class=styles.item) Три спальных каюты и&nbsp;общая кают-компания c&nbsp;тёплым полом
				p(class=styles.item) Два душа и&nbsp;три гальюна
				p(class=styles.item) Защищённая кормовая площадка

			div(class=styles.column)
				p(class=styles.item) Кофемашина, ледогенератор и&nbsp;микроволновка
				p(class=styles.item) Телевизор 48&nbsp;дюймов
				p(class=styles.item) Качественная акустическая система
				p(class=styles.item) Виниловый проигрыватель

			div(class=styles.column)
				p(class=styles.item) Светодиодная подсветка в&nbsp;тёмное время суток
				p(class=styles.item) Anti-shark устройство
				p(class=styles.item) Возможна аренда газового мангала
